html {
  background: url(/public/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'La Belle Aurore', cursive;
  font-size: 20px;
  color: #800180;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

header {
  padding: 30px 5px;
}

.live-letter-container {
  max-width: 80vw;
  font-size: 28px;
}

/* Swiper */
.swiper {
  width: 400px;
  height: 570px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
}

.song-container {
  text-align: center;
  padding: 0 5px;
}

@media only screen and (max-width: 600px) {
  .swiper {
    width: 240px;
    height: 320px;
  }

  .live-letter-container,
  .song-container {
    font-size: 20px;
  }
}